<div class="wd-main-navbar">
  <div class="wd-main-navbar-logo"></div>
  <div class="wd-main-navbar-nav">
    <ul>
      <li><a href="http://"><i class="fas fa-star"></i></a></li>
      <li><a href="http://"><i class="fas fa-star"></i></a></li>
      <li><a href="http://"><i class="fas fa-file-alt"></i></a></li>
      <li><a href="http://"><i class="fas fa-users"></i></a></li>
      <li><a href="http://"><i class="fas fa-bell"></i></a></li>
      <li><a href="http://"><i class="fas fa-cog"></i></a></li>
      <li><a href="http://"><i class="fas fa-power-off"></i></a></li>
    </ul>
  </div>
</div>
