<div class="wd-messages">
  <div class="wd-messages-header">

  </div>

  <div class="wd-messages-chats">
    <ul class="wd-messages-chats-list">
      <li class="sent">
        <div class="media">
          <div class="media-profile mr-3">
            <img src="../../../../assets/images/users/158835994938862.jpg" class="img-fluid"/>
          </div>
          <div class="media-body">
            <h5 class="mt-0 media-username">John Martin</h5>
            <h5 class="mt-0 media-time">12:21 PM</h5>
            <ul class="wd-msg-box">
              <li>
                <h5>Cras sit amet nibh libero, in gravida nulla.</h5>
              </li>
              <li>
                <h5>Cras sit amet nibh libero, in gravida nulla, in gravida nulla.</h5>
              </li>
              <li>
                <h5>Cras sit amet nibh libero, in gravida nulla.</h5>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="replies">
        <div class="media">
          <div class="media-profile ml-3">
            <img src="../../../../assets/images/users/1588359085044James.jpg" class="img-fluid"/>
          </div>
          <div class="media-body">
            <h5 class="mt-0 media-username">James Smith</h5>
            <h5 class="mt-0 media-time">12:21 PM</h5>
            <ul class="wd-msg-box">
              <li>
                <h5>Cras sit amet nibh libero, in gravida nulla.</h5>
              </li>
              <li>
                <h5>Cras sit amet nibh libero, in gravida nulla, in gravida nulla, in gravida nulla, in gravida nulla, in gravida nulla, in gravida nulla, in gravida nulla.</h5>
              </li>
              <li>
                <h5>Cras sit amet nibh libero, in gravida nulla.</h5>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <!-- MESSAGES INPUT START -->
  <div class="wd-messages-input">

    <div class="wd-message-input-inner">

      <!-- IMAGE AREA START -->
      <div class="wd-message-outline-btn wd-message-input-image mr-3"></div>
      <!-- IMAGE AREA END -->

      <!-- EMOJI AREA START -->
      <div class="wd-message-outline-btn wd-message-input-image mr-3">

      </div>
      <!-- EMOJI AREA END -->

      <!-- ADDON AREA START -->
      <div class="wd-message-outline-btn wd-message-input-addon mr-3"></div>
      <!-- ADDON AREA END -->

      <!-- INPUT AREA START -->
      <input type="text" class="wd-message-input-field mr-3" placeholder="Write your message...">
      <!-- INPUT AREA END -->

      <!-- SPEAK AREA START -->
      <div class="wd-message-outline-btn wd-message-input-speak mr-3"></div>
      <!-- SPEAK AREA END -->

      <!-- SEND START -->
      <div class="wd-message-outline-btn wd-message-input-send"></div>
      <!-- SEND END -->

    </div>

  </div>
  <!-- MESSAGES INPUT END -->
</div>
